</div>
<script src="https://kit.fontawesome.com/f95fbf7eb5.js" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip({
            delay: { "show": 1000, "hide": 0 }
        });
    });
</script>
</body>

</html>