<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Dashboard</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/main_page_styles.css">
    <link rel="stylesheet" href="/css/course_info.css">
    <link rel="stylesheet" href="/css/reg_students.css">
    <script src="/js/studentinfo.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="http://mysite.com/jquery.min.js"><\/script>')
    </script>
    
</head>

<body>
    <nav class="navbar navbar-expand-lg" style="background-image:linear-gradient(90deg,#00c4cc,#7d2ae8); height:70px; ">
        <a class="navbar-brand" href="#" style="color:beige; margin-left:20px;"><strong>Faculty Dashboard</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-left: 75%;">
            <ul class="navbar-nav navbar-right">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="/images/user_icon.png" width="50px" height="50px" alt="user_icon">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <!-- <form action="/../profile" method="GET" id="formpro"> -->
                        <a class="dropdown-item" href="#">Profile</a>
                        <!-- <p name="email">{{email}}</p> -->
                        <!-- <a class="dropdown-item" href="{% url 'about' %}">About</a> -->
                        <!-- </form> -->
                        <a class="dropdown-item" href="#">About</a>

                        <a class="dropdown-item" href="#">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    
    <div id="content-header" style="margin-left: 20px;width:300px;">
        <h6>Course ID</h6>
        <nav class="navbar navbar-expand-lg" id="search-list"
            style="height:35px; font-size:20px;background-image:linear-gradient(90deg,#05a7e7,#2a26ff);">
            <a class="navbar-brand" href="#"
                style="color: beige; margin-left:10%; font-size:20px; font: width 5%;">Registered Students</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <i class="fa fa-angle-down"
                style="width:50px; padding-top:15px; margin-left:20px; height:50px;color:white; float:left;"></i>
        </nav>
    </div>
    <% if(status) { %>
    <div id="disp-content">
        <div id="course-text" class="disp-text" style="height: 585px;">

            <nav class="navbar navbar-expand-lg" id="search-list" style="background-color: #45b1ef">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
                        <button type="button" id="search" class="btn btn-light" type="submit">
                            Search
                        </button>
                    </form>
                </div>
            </nav>
            <div class="list-group" style="overflow: scroll;height:515px;">
                
                <% for (var i =0; i < liststud.length;  i++ ){ %>
                <button type="button" class="list-group-item list-group-item-action" onclick="getstudentinfo(this);"><%=liststud[i].roll_number %></button>
                <% console.log(liststud[i]); %>
                <% } %>
               <!-- <button type="button" class="list-group-item list-group-item-action">CB.EN.U4CSE18002</button>
                <button type="button" class="list-group-item list-group-item-action">CB.EN.U4CSE18003</button>
                <button type="button" class="list-group-item list-group-item-action">CB.EN.U4CSE18004</button>
                <button type="button" class="list-group-item list-group-item-action">CB.EN.U4CSE18005</button>
                <button type="button" class="list-group-item list-group-item-action">CB.EN.U4CSE18006</button>
                <button type="button" class="list-group-item list-group-item-action">CB.EN.U4CSE18007</button>
                <button type="button" class="list-group-item list-group-item-action">CB.EN.U4CSE18008</button>
                <button type="button" class="list-group-item list-group-item-action">CB.EN.U4CSE18009</button>
                <button type="button" class="list-group-item list-group-item-action">CB.EN.U4CSE18010</button>
                <button type="button" class="list-group-item list-group-item-action">CB.EN.U4CSE18011</button>
                <button type="button" class="list-group-item list-group-item-action">CB.EN.U4CSE18012</button>
                <button type="button" class="list-group-item list-group-item-action">CB.EN.U4CSE18013</button>
            -->
            </div>

        </div>


        <div id="fn-text" class="disp-text" style="height: 585px;">
            <nav class="navbar navbar-expand-lg" id="search-list"
                style="background-image:linear-gradient(90deg,#05a7e7,#2a26ff);">
                <a class="navbar-brand" href="#" style="color: beige; margin-left:40%;"><strong>Student
                        Details</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>

            <div class="row-det" id="student-det">
                <div class="row-det-1" id="student-pic" style="float: left;">
                    <img src="/images/boy_avatar.png" width="50px" height="50px" id="stud-img">
                </div>
                <div class="row-det-1" id="basic-det" style="float: left;">
                    <ul class="list-group">
                        <li class="list-group-item det" id="stud-name">Name:</li>
                        <li class="list-group-item det" id="stud-rollno">Roll Number:</li>
                        <li class="list-group-item det" id="stud-clg-id">College mail id:</li>
                        <li class="list-group-item det" id="stud-per-id">Personal mail id:</li>
                        <li class="list-group-item det" id="stud-phno">Phone Number:</li>
                    </ul>
                </div>
            </div>

            <div class="row-det" id="student-attendance"
                style="width: 100%;height:50px;background-color: #00c4cc;color:white;">
                <h5>Attendance:</h5>
                <p><strong>..</strong></p>
            </div>
            <div class="row-det" id="student-acdemics">
                <div class="row-det-1" id="test-det" style="overflow: scroll;height:206px;">
                    <ul class="list-group">
                        <li class="list-group-item active" style="text-align: center;">Quizzes</li>
                        <li class="list-group-item">Quiz 1:</li>
                        <li class="list-group-item">Quiz 2:</li>
                        <li class="list-group-item">Quiz 3:</li>
                        <li class="list-group-item">Quiz 4:</li>
                    </ul>

                    <ul class="list-group">
                        <li class="list-group-item active" style="text-align: center;">Periodicals</li>
                        <li class="list-group-item">P1:</li>
                        <li class="list-group-item">P2:</li>
                    </ul>

                    <ul class="list-group">
                        <li class="list-group-item active" style="text-align: center;">Assignments</li>
                        <li class="list-group-item">Assignment 1:</li>
                        <li class="list-group-item">Assignment 2:</li>
                        <li class="list-group-item">Assignment 3:</li>
                        <li class="list-group-item">Assignment 4:</li>


                    </ul>
                </div>
                <div class="row-det-1" id="test-analysis">
                    <h4 style="color: #00c4cc;margin-left:27%;margin-top:40px;font-size:50px;">__%</h4>
                    <button type="button" class="btn btn-primary" style="margin-left: 20px;">Graphical Analysis</button>
                </div>
            </div>

        </div>
    </div>
   <% } else{ %>
    <h6>No data found</h6>
    <% } %>

</body>

</html>