@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;800&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Yeseva One");

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fffaef;
    font-family: "Poppins", sans-serif;
    margin: 0%;
}

.mar-left-10 {
    margin-left: 10%;
}

.disp-content {
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap;
    height: 650px;
    overflow: scroll;
    padding-right: 20px;
}

/* #disp-content-mc{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 650px;
    padding: 10px;
} */

#disp-content-mc{
    margin: 0 auto;
    width: 50%;
    height: 500px;
    font-family: "Poppins", sans-serif;
    border: 2px solid #45b1ef;
    border-radius: 10px;
    margin-bottom: 50px;
}

.disp-text {
    margin-left: 20px;
    width: 500px;
    margin-top: 2.5%;
    float: left;
    font-family: "Poppins", sans-serif;
    border: 2px solid #45b1ef;
    border-radius: 10px;
    margin-bottom: 50px;
}

.disp-text-home {
    /* margin-left: 20px; */
    /* width: 500px; */
    /* margin-top: 2.5%; */
    /* float: left; */
    padding: 0;
    font-family: "Poppins", sans-serif;
    border: 2px solid #45b1ef;
    border-radius: 10px;
    margin: 1%;
}


.disp-text textarea {
    border: none;
    background-color: #e4d2aa;
    width: 80%;
    height: 80%;
    margin-top: 30px;
    margin-left: 15px;
    padding-right: 5px;
}

.disp-text h6 {
    background-color: #e4d2aa;
    margin-top: 30px;
    margin-left: 15px;
    border: none;
}

#fn-text {
    font-family: "Poppins", sans-serif;
    float: left;
    width: 55%;
    color: beige;
    margin-left: 50px;
    margin-bottom: 50px;
}

#fn-text-home {
    font-family: "Poppins", sans-serif;
    /* float: left;
    width: 55%; */
    color: beige;
    /* margin-left: 50px;
    margin-bottom: 50px; */
}

#search-list {
    border-radius: 8px;
}

#search-box {
    margin-left: 20px;
    margin-right: 20px;
    width: 70%;
    float: left;
}

#search-button {
    float: left;
    margin-left: 50px;
}

mark {
    margin-left: 20px;

    color: white;
}

#disp-fn-text::-webkit-scrollbar {
    width: 10px;
}

#disp-fn-text::-webkit-scrollbar-track {
    background: #282828;
}

/* Handle */
#disp-fn-text::-webkit-scrollbar-thumb {
    background: #888888;
}

#disp-fn-text {
    overflow: scroll;
    height: 500px;
    width: 480px;
}

.circle {
    width: 70px;
    height: 70px;
    float: right;
    /* (B) 50% RADIUS = CIRCLE */
    border-radius: 50%;

    /* (C) BACKGROUND COLOR */
    background: #888888;
    text-align: center;
}
.circle-txt {
    /* (E1) CENTER TEXT IN CIRCLE */
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    /* (E2) THE FONT - NOT REALLY IMPORTANT */
    font-weight: bold;
}

#course-list {
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}

#course-id {
    border: 1px solid gray;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    margin-top: 17px;
    margin-left: 19%;
}

#course-id :hover {
    background-color: gray;
}

.row-tabs {
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
}
.tab {
    width: 150px;
    height: 150px;
    margin-left: 42px;
    margin-bottom: 30px;
    color: white;
    background-color: #00c4cc;
    padding-bottom: 10px;
    text-align: center;
    padding-right: 10px;
    float: left;
    transition: transform 0.5s;
}

.tab-mc {
    color: white;
    background-color: #00c4cc;
    margin: 30px ;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
    transition: transform 0.5s;
}

.tab h6 {
    background-color: transparent;
    margin-top: 30px;
}

.tab-mc h6 {
    color: white;
    background-color: transparent;
    margin-top: 10px;
}

.tab img {
    margin-top: 20px;
}

.tab-mc :hover {
    transform: scale(1.1);
}

.tab a {
    text-decoration: none;
    color: white;
}

.tab-mc a {
    text-decoration: none;
    color: white;
}

#profile-pic {
    border-radius: 50%;
    width: 80%;
}

#notification {
    color: white;
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 1% 1.5%;
    opacity: 0.8;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

input[type='file'] {
    cursor: pointer;
}

.time-table-div {
    padding: 1%;
    border: 2px solid #45b1ef;
    border-radius: 10px;
}

.notification-card {
    margin: 0.5% 1% 0 1%;
    padding: 2%;
    text-align: left;
    width: 98%;
    background-color: #E2E6EA;
    z-index: -1;
}

.notification-card:hover {
    background-color: #c5cbd1;
}

.notification-content {
    opacity: 0.7;
}

.mark-as-read {
    border: none;
    color: #8b9096;
    font-size: 0.8rem;
    position: absolute;
    right: 4%;
    top: 10%;
    z-index: 7;

}

.mark-as-read:hover {
    background-color: #8b9096;
    color: white;
}

#menu-button {
    position: absolute;
    top: 2.2%;
    left: 2%;
    z-index: 5;
    border-radius: 50%;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    /* background-color: #111; */
    background-image:linear-gradient(90deg,#00c4cc,#4570DC);
    color: #fff;
    overflow-x: hidden;
    /* padding-top: 60px; */
    padding: 2% 0;
    transition: 0.5s;
}

.sidenav-link {
    text-decoration: none;
    text-align: left;
    margin: 3px 32px;
    color: #fff;
    /* display: block; */
    width: 100%;
    transition: 0.3s;
}

.closebtn {
    position: absolute;
    top: 2%;
    right: 3%;
    border-radius: 50%;
}

.sidenav-icon {
    margin-right: 5%;
}

#dim {    
    position: fixed;
    width: inherit;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 10;
    cursor: block;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
