
.row-det{
    height:206px;
}
.row-det-1{
    height: 30%;
    float:left;
    width:30%;
}

.row-det-1 img{
    width: 100px;
    height: 100px;
    margin-top: 30%;
    margin-left: 25%;

}

#basic-det{
    width: 70%;
}

.row-det-2{
    height:100px;
}
.row-det h5{
    float: left;
    background-color: transparent;
    margin-left: 30%;
    margin-top: 10px;
    width:30%;
}
.row-det p{
    float: left;
    background-color: transparent;
    margin-left: 2px;
    margin-top: 10px;
}

#test-det{
    width:70%;
}

#mark-list input
{
    float: left;
    margin-left:75%;
    width: 100px;
}

#inputTest{
    width: 1000px;
    float: left;
    text-align: center;
    margin-left: 10%;
}

#confirm-test{
    float: right;
    margin-left: 10px;
}

